@keyframes rainbow {
  0% {
    background: linear-gradient(90deg, red, orange, yellow, green, blue, indigo, violet);
    background-size: 200% 200%;
  }
  25% {
    background: linear-gradient(90deg, orange, yellow, green, blue, indigo, violet, red);
    background-size: 200% 200%;
  }
  50% {
    background: linear-gradient(90deg, yellow, green, blue, indigo, violet, red, orange);
    background-size: 200% 200%;
  }
  75% {
    background: linear-gradient(90deg, green, blue, indigo, violet, red, orange, yellow);
    background-size: 200% 200%;
  }
  100% {
    background: linear-gradient(90deg, red, orange, yellow, green, blue, indigo, violet);
    background-size: 200% 200%;
  }
}

.rainbowContainer {
  animation: rainbow 6s ease infinite;
}
