.nameLink {
  color: var(--primary-color);
  text-decoration: none;
  font-weight: 500;
}

.nameLink:hover {
  text-decoration: underline;
}

.externalLink {
  color: var(--base-color-9);
  display: flex;
  align-items: center;
  transition: color 150ms ease;
}

.externalLink:hover {
  color: var(--primary-color);
}

.tableContainer table tbody tr {
  transition: background-color 150ms ease;
}

.tableContainer table tbody tr:hover {
  background-color: var(--base-color-2);
}
